# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Installer logs
pip-log.txt

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/

# VS Code
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Optional
*.log
*.tmp
*.bak
